body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;
}

h2 {
  margin-bottom: 15px;
  color: #ff4d6d;
}

#score {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

#heart {
  position: absolute;
  font-size: 45px;
  cursor: pointer;
  transition: transform 0.2s;
}

#heart:hover {
  transform: scale(1.3);
}

#messageBox {
  margin-top: 15px;
  font-size: 22px;
  color: #ff4d6d;
  font-weight: bold;
  height: 40px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}

/* animasi muncul */
#messageBox.show {
  opacity: 1;
  transform: translateY(0);
}
